.sl-container:after,.sl-container:before,.sl-row:after,.sl-row:before {content:"";display:table;clear:both}

.sl-container {padding:0.01em 16px}

.sl-padding-64 {padding-top:64px!important;padding-bottom:64px!important}

.sl-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}

.sl-col {float:left;width:100%}

.sl-col.m5 {width:41.66666%}

.sl-col.m7 {width:58.33333%}

.sl-xlarge {font-size:24px!important}

.sl-border-teal {border-color:#009688!important}

.sl-bottombar {border-bottom:6px solid #ccc!important}

.sl-text-teal {color:#144d37!important}

.sl-card-4 {box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.sl-white {color:#000!important;background-color:#fff!important}

.sl-section {margin-top:16px!important;margin-bottom:16px!important}

.sl-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}

.sl-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;margin-bottom: 10px;}

.sl-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.sl-button:disabled{cursor:not-allowed;opacity:0.3}

.sl-dropdown-hover {position:relative;display:inline-block;cursor:pointer}
.sl-dropdown-hover:hover .sl-dropdown-content {display:block}
.sl-dropdown-hover:first-child,.sl-dropdown-click:hover {background-color:#ccc;color:#000}
.sl-dropdown-hover {width:100%; position:static;float:left}
.sl-dropdown-hover .sl-button {width:100%;text-align:left;padding:8px 16px}
.sl-dropdown-hover:hover > .sl-button:first-child,.sl-dropdown-click:hover > .sl-button:first-child{background-color:#ccc;color:#000}

.sl-right{float:right!important}

.sl-theme {color:#fff !important; background-color:#237a45 !important; outline: none; margin-bottom: 10px;}

.sl-check {width:24px;height:24px;position:relative;top:6px;}

